{% extends 'base.html' %}

{% block content %}
<h1>This is for Showing books</h1>
   
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Book Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Author Name
                </th>
                <th scope="col" class="px-6 py-3">
                    category
                </th>
                <th scope="col" class="px-6 py-3">
                    First Pub
                </th>
                <th scope="col" class="px-6 py-3">
                    Last Pub
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
           {% for  item in data %}
           <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
            <td class="px-6 py-4" >
                {{item.id}}
            </td>
            <th  scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{item.book_name}}
            </th>
            <td class="px-6 py-4">
                {{item.author}}
            </td>
            <td class="px-6 py-4">
                {{item.category}}
            </td>
            <td class="px-6 py-4">
                {{item.first_pub}}
            </td>
            <td class="px-6 py-4">
                {{item.last_pub}}
            </td>
            <td class="px-6 py-4">
                <a  href= "{% url 'editbook' id=item.id %}"button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Edit</a> 
                <a type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Delete</a>
            </td>
        </tr>
           {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}